@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

:root {
    --white: rgb(255, 255, 255);
    --black: rgba(0, 0, 0, 0.6);
    --lavender: #7b67c3;
    --dark_lavendar: #451ad3;
    --light_lavendar: rgba(99, 83, 159, 0.3);
    --blue: #008cff;
    --red: rgb(204, 2, 2);
    --font-family: 'Varela Round', sans-serif;
}


body{
    margin: 0%;
    max-width: 1400px;
    width: 100%;
    font-family: var(--font-family);
    background-color: #7b67c3;
    background: linear-gradient(90deg,  #451ad3 50%, #7b67c3 50%, 100%),rgba(99, 83, 159, 0.3);
}

h2 {
    text-align: center;
    position: relative;
    top: 110px;
    color: var(--white);
}


/* Main Container */

#mainContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 63%;
    top: 120px;
    background-color: var(--white);  
    border-radius: 5px;
    padding: 10px;
}

/* Container Two Div */

#formContainer, #billingSection {
    width: 50%;
    margin: 20px 20px;
}



div#product,#amount,#submitBtn {
    margin: 5px;
    padding: 5px;
}

input#inputText,#inputnumber{
    border: none;
}

/* Billing Heading */

#billingHeading {
    display: flex;
    gap: 112px;
    border-bottom: 1px solid gray;
}

/* Submit Button */

div#submitBtn {
    width: 93%;
}
button#buttonvalidation {
    width: 100%;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg,#7b67c3 50%, #008cff 100%);
    color: var(--white);
}

/* Sort Icon */

i.fa {
    margin: 0px;
    position: relative;
    right: 24px;
    top: 5px;
    color:var(--dark_lavendar);
}
i.fa {
    position: relative;
    left: 18px;
}


/* Class List */

.red{
    color: var(--red);
}

.block{
    display: block;
}


/* Appending Div */


div#billingList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 42px;
}

.billingamountsection {
    display: flex;
}

div#totalamount {
    position: relative;
    top: 122px;
}

h3.productNumber {
    margin-left: 5%;
    padding: 0px;
}

div#Totalcal {
    display: flex;
    justify-content: space-between;
}


/* Append Lists Div */

div#dommanipulation {
    width: 100%;
    max-width: 100%;
    max-height: 185px;
    height: 100%;
    overflow-y: auto;
    border-bottom: 1px solid;
}


/* Hover Class list */

/* Delete icon */
i.material-icons {
    display: none;
    cursor: pointer;
}

/* Delete icon Hover */
#billingList:hover .material-icons {
    display: block;
    position: relative;
    right: 10px;
    color: var(--red);
}

/* Display block and None */
.TotalHeading {
    display: none;
}


